/* Feuille de styles CSS */

header a img
{ 
  width: 100%;
}


/* Barre de navigation */

nav ul 
{
  padding:0;
  list-style: none;
  text-align: center;
}

nav ul li 
{
  display: inline-block;
}
nav ul li a 
{
  display: block;
  color: rgb(200, 200, 200);
  border-bottom: 3px solid rgb(74, 74, 74);
  text-decoration: none;
  margin: 0 10px;
}

nav ul li a:hover 
{
  color: rgb(255, 0, 0);
  border-bottom: 3px solid rgb(255, 0, 0);
}

/* Page */

body
{
  margin: 20px;
  background-color: rgb(74, 74, 74);
  color: white;
  font-size: 30;
  font-family: consolas;
}

/* Tutoriels */

.Introduction p
{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.Introduction p a
{
  color: white;
}

.ListeCours p a
{
  color: white;
}